RewriteEngine On

# Excluir archivos AJAX del routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(php|css|js|png|jpg|jpeg|gif|ico)$ [NC]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
